*{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}


